<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reserve PC</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">RPL Reservation</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class=" ">
              <a class="nav-link active" href="services.html">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html" style="color:greenyellow">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Services
        <small>- Reserve a PC</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
      </ol>

      <div class="row" style="justify-content: center">
        <form action="#" method="post">
          PC No: <br>
          <select placeholer="pc no">
            <option value="1">1</option>
          </select> <br>
          Name:<br>
          <input type="text" name="name" placeholder="User01">
          <br>
          NRP:<br>
          <input type="text" name="nrp" placeholder="511x100xxx">
          <br>
          NO. HP:<br>
          <input type="text" name="no_hp" placeholder="08220000001">
          <br>
          Email:<br>
          <input type="text" name="email" placeholder="user01@goomail.com">
          <p>*By submitting you have <br>read and understood the procedures and rules.
          Click<a href="index.html"> here</a> to read.</p>  
          <input type="submit" value="Submit">
        </form>

        <div class="col-lg-5 mb-5">
          <div class="card h-100">
            <h6 class="card-header">Specs</h6>
            <div class="card-body">
              <p class="card-text">If you would liked to book a PC in RPL Lab, click below.</p>
            </div>
          </div>
          </div>      
        </div>



    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg">
      <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; RPL PC Reservation 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
